<article id="hvordan">
	<div class="header">
        <div class="header-text">
            <span class="dominant textGreen">HVORDAN?</span>
        </div>
        <span class="border-line"></span>
        <p class="header-description darkgray">
            Danaweb har valgt ikke at give brugerne adgang til deres website. Så det er ikke muligt at tage en fuld backup af alle filer.
			Det er dog muligt at tage en kopi af det din browser ser. Det er altså ikke en nøjagtig kopi af dine kilde filer, men det er næsten ligeså godt.
            <br><br>
            Hvis vi skærer alt teknikken væk så fungerer vores service nogenlunde således 
        </p>
    </div>
    <div class="container whitefacts">
        <div class="row">
            <div class="col-md-4 col-sm-4 graybox">
                <span class="number"><i class="ion-cloud"></i></span>
                <p class="text">
                    En af INTERACTIFY's servere åbner en browser og går ind på din hjemmeside.
                </p>
                
            </div>
            <div class="col-md-4 col-sm-4 whitebox">
                <span class="number"><i class="ion-folder"></i></span>
                <p class="text">
                    Når forbindelsen er oprettet, åbner den alle links der er på din hjemmeside, og gemmer hver enkelt side i en mappe på vores server
                </p>
                
            </div>
            <div class="col-md-4 col-sm-4 graybox">
                <span class="number"><i class="ion-paper-airplane"></i></span>
                <p class="text">
                    Når hele din internet side er kørt igennem af vores server. Så sender vi det hele til dig!
                </p>
                
            </div>
        </div>
    </div>
    
</article>