<article class="midGray" id="backup">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="header">
					<div class="header-text">
						<img src="images/kun-logo.png" alt="interactify logo">
					</div>
					
					<p class="header-description">
						"Der er flere grunde til at vi tilbyder at tage en gratis kopi af dit site. Vi tror på at alle skal have ret til deres eget website og ikke tvinges til at betale for at drive et eksisterende site videre!"
						<br><br>
						Hvis du ønsker at tage en statisk kopi af din nuværende side så udfyld blot nedenstående formular.
					</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="statusContainer">
					
				
				<div id="backup-paa-vej">
					<div class="status"><i class="ion-checkmark-circled"></i></div>
					<div class="status-text">Så snart at vi har hentet dit site, så modtager du en email med et link til hvor du kan hente det.</div>
				</div>
				
				<form name="sitebackup" class="contact-form" id="sendForm" method="post" netlify>
					<!--<h3>Udfyld</h3>-->
					<div class="row">
						<div class="col-md-12">
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
			
									<input name="navn" type="text" class="form-control" placeholder="Dit navn" id="name" required="" data-validation-required-message="Indtast venligst dit navn">
									<p class="help-block"></p>
								</div>
							</div>
			
						</div>
			
						<div class="col-md-12">
							<div class="row control-group">
								<div class="form-group col-xs-12 controls">
			
									<input name="email" type="email" class="form-control" placeholder="Din email addresse" id="email" required="" data-validation-required-message="Indtast venligst din email addresse">
									<p class="help-block"></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12  controls">
			
							<input type="url" name="url" class="form-control" placeholder="http://ditwebsite.dk" id="url" required="" data-validation-required-message="Indtast venligst dit telefonnummer">
							<p class="help-block"></p>
						</div>
					</div>
					
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12 text-right">
							<button type="submit" class="btn btn-white btn-lg">Send mig mit site!</button>
						</div>
					</div>
					
				</form>
				
				</div>
			</div>
		</div>
	</div>
</article>
<script>
	$(function(){
		$('#sendForm').submit(function(event){
			event.preventDefault();
			$.post( "thank-you", $( "#sendForm" ).serialize(), function(data){
				$('#sendForm').addClass("hide");
				$('#backup-paa-vej').addClass("show");
			} );
		});
	});
</script>