<article id="priser" class="midGray">
	<div class="header">
        <div class="header-text">
            <span class="dominant textGreen">HVAD KOSTER DET?</span>
        </div>
        <span class="border-line"></span>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 white">
                Det er fuldstændigt gratis at benytte vores service. Der er ingen omkostninger. Vi gør det fordi at er forkert at man skal betale ekstra for et produkt man allerede har betalt for.
                Vi mener ikke at denne gidsel situation skal gå ud over kunderne.<br><br>
                Hvis du ønsker, at flytte dit website til en ny udbyder, er alt hvad de skal bruge den kopi vi sender til dig.<br><br>
                Vi kan hjælpe dig med at finde et hjem til din side hvis du ønsker det, men det er intet krav.<br><br>
                <b>Du skal dog være opmærksom på - at har du en webshop så kan den ikke flyttes på denne måde.</b><br> Der er desværre funktionalitet, der ikke bare kan kopieres.
                For at få din webshop til at virke så skal du købe en webshop hos det web selskab du ønsker at benytte.<br><br>
                Hos Interactify kan vi konvertere backuppen til en fungerende webshop.
            </div>
        </div>
    </div>
    
    
    
</article>