<div class="slider-container">
  <div id="cl-slider" class="owl-carousel owl-theme">
    
    <div class="item" style="background-image: url(images/2.jpg);">
      <div class="logo">
        <span class="gray"><span class="elegant">INTERACT</span><span class="dominant">IFY</span><br>
        Hos Interactify er vi i julehumør og har brugt de sidste par dage på at lave en service som kan tage en statisk backup af dit SolidMediaGroup/Danaweb website. Så kan du i ro og mag læne dig tilbage og bruge resten af julen på dem du holder af.<br><br>
        <a href="#backup" class="btn btn-white scroll-showroom">HENT MIT SITE</a>
        </span>
      </div>
    </div>
    
  </div>
</div>